[submodule "lib/Si5351Arduino"]
	path = lib/Si5351Arduino
	url = git@github.com:etherkit/Si5351Arduino.git
[submodule "lib/TinyGPSPlus"]
	path = lib/TinyGPSPlus
	url = git@github.com:mikalhart/TinyGPSPlus.git
